nav div{
    border: 5px solid black;
    background-color: rgb(0, 221, 255);
    position:relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: end;

}

h1{
    
    text-align: center;
    color: aliceblue;
}

h2{
    text-align: center;
    color: black;
}

main div{
    text-align: center;
}

.table{
    display: flex;
    justify-content: center;
}

#project1{
    background-color: azure;
    margin-right: 150px;
    margin-left: 150px;
    border: 3px solid rgb(204, 0, 255);
}

#project2{
    background-color: azure;
    margin-right: 150px;
    margin-left: 150px;
    border: 3px solid rgb(204, 0, 255);
    margin-top: 30px;    
}

.info{
    display: flex;
    justify-content: center;
    border: 3px solid black;
    margin-right: 15cm;
    margin-left: 15cm;
}

button{
   color: rgb(21, 255, 0);
   background-color: black;
}